<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta charset="UTF-8">
    <title>Login</title>
    <link rel="stylesheet" href="/css/style.css">
    <style>
        p {
            margin-top: 2%;
            text-align: center;
            color: black;
        }

        p a {
            color: black;
            text-decoration: underline;
        }
    </style>
</head>
<body>
    <div class="form-container">
        <h1>Login</h1>
        <form action="/login" method="post">
            <div class="form-group">
                <label for="name">Name</label>
                <input type="text" name="username" placeholder="Enter your username" required autocomplete="off">
            </div>

            <div class="form-group">
                <label for="password">Password</label>
                <input type="password" name="password" placeholder="Enter password" required>
            </div>

            <% if (message == "user not found") { %>
                <div style="color: red; margin-bottom: 5px;">User not found</div>
            <% } %>

            <% if (message == "password is incorrect") { %>
                <div style="color: red; margin-bottom: 5px;">The user name or password is incorrect</div>
            <% } %>
            <div id="errorMessage" style="color: red; display: none;"></div>

            <button type="submit">Login</button>
            <p>Don't have an account? <a href="/signup">Sign up</a></p>
        </form>
    </div>
</body>
</html>